@import "tailwindcss";

/* Custom colors */
@layer base {
  :root {
    --color-primary: #0D1A30;
    --color-secondary: #1F344C;
    --color-accent: #4ade80;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: #121e36;
      --color-secondary: #60a5fa;
      --color-accent: #4ade80;
    }
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .hover\:bg-secondary:hover {
    background-color: var(--color-secondary);
  }
}

/* Overriding Toastify progress bar on global level */
.Toastify__progress-bar {
  background: var(--color-accent) !important;
}

/* Override toast bg-color on global level */
.Toastify__toast {
  background: var(--color-primary) !important;
  color: white !important;
  border: 1px solid rgba(255,255,255,0.1);
}

